

.about_title{
    color:var(--main-bg-color);
    font-weight: 700;
    font-size: min(100px,15vw);
    margin-bottom:30px;
}

.about_subtitle{
    margin-bottom:100px;
}


.about_box_holder{
    display: flex;
    margin: auto;
    max-width: min(900px,80%);
    text-align: left;
    font-family: "Source Sans Pro",Arial,sans-serif;
    flex-direction: column;
    
    /* letter-spacing: 0.2px; */
}

.about_box{
    /* flex-basis:50%; */
    width: 100%;
    padding-bottom: 32px !important;
    
}

.about_box_a{
    cursor: pointer;
    /* height: 100px; */
    background-color: #f0f8ff;
    display: flex !important;
    /* display:grid; */
    border-radius: 7px;
    text-decoration: none;
    padding:32px;
    color:black;
    overflow: hidden;
    /* width:100%; */
}
.about_box_a:visited{
    text-decoration:none;
}

.about_box_a:hover{
    background-color: #cde9fe;
}

.about_box_heading{
    color:black;
    margin-top: 0;
    /* margin-bottom: 0px; */
}

.about_box_paragraph{
    margin-top: 0px;
    font-size: 18px;
}

.about_box_button{
    background:#0a95ff;
    text-decoration: none;
    color:white;
    /* font-family: "Source Sans Pro"; */
font-weight: 600;
text-align: center;
display: inline-block;
padding: .8em;
border: 1px solid transparent;
user-select: none;
font-size: 0.9rem !important;
padding-left: 32px !important;
padding-right: 32px !important;
border-radius: 5px !important;
/* box-sizing: inherit; */
width:max-content;
/* position: absolute; */
/* bottom:0px; */
}



.about_box_image{
    height:200px;
    border-radius: 7px;
    transform:translateX(35px);
    box-shadow: 0 1px 2px 0 var(--gm-fillbutton-keyshadow-color,rgba(60,64,67,.3)),0 1px 3px 1px var(--gm-fillbutton-ambientshadow-color,rgba(60,64,67,.15));
}