.outer{
    /* max-width: 500px; */
    position: absolute;
    /* height:50px; */
    /* background: white; */
    width:100%;
    bottom:-100px;
    z-index: 10;
    /* border-radius: 10px; */
    /* transform: translate(120px,0px); */
    transition: bottom .225s cubic-bezier(0, 0, 0.2, 1);
    /* overflow: hidden; */
}

.open {
    bottom:-10px;
    /* transform: translate(0px,0px); */
}

.holder{
    max-width: 500px;
    /* position: absolute; */
    /* height:50px; */
    background: white;
    width:80%;
    bottom:10px;
    z-index: 10;
    border-radius: 10px;
    margin:auto;
    padding:20px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24);
}



.time{
    margin-right:auto;
}

.submit{
    margin-left:0px !important;
    margin-top:20px;
}

.close{
    position: absolute;
    /* right:10px; */
    background: white;
    height:20px;
    width:20px;
    border-color: black;
    border-width: 1px;
    cursor: pointer;
    border-radius: 10px;
}

.close:hover{
    /* background: whitesmoke; */
}

.modal_inner{
    width:auto !important;
}