.outer{
    /* max-width: 500px; */
    position: absolute;
    /* height:50px; */
    /* background: white; */
    width:100%;
    bottom:-100px;
    z-index: 10;
    /* border-radius: 10px; */
    /* transform: translate(120px,0px); */
    transition: bottom .225s cubic-bezier(0, 0, 0.2, 1);
    /* overflow: hidden; */
}

.open {
    bottom:-10px;
    /* transform: translate(0px,0px); */
}

.holder{
    color: #515151;
    text-align: left;
    max-width: 500px;
    /* position: absolute; */
    /* height:50px; */
    background: white;
    width:80%;
    bottom:0px;
    z-index: 10;
    border-radius: 10px;
    margin:auto;
    position: relative;
    padding:1px 20px 20px 20px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24);
}



.time{
    background: #f9f9f9;
    margin: 5px 25px 10px 25px;
    border-radius: 5px;

    position: relative;
    font-size: 30px;
    font-weight: 700;
    display: grid;
    padding: 10px;
}

.time_holder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grd */
}


.submit{
    margin-left:0px !important;
    /* margin-top:20px; */
}

.close{
    position: absolute;
    /* right:10px; */
    background: white;
    height:20px;
    width:20px;
    border-color: black;
    border-width: 1px;
    cursor: pointer;
    border-radius: 10px;
}

.close:hover{
    /* background: whitesmoke; */
}

.modal_inner{
    width:auto !important;
}

.notes_heading{
    color: #5f6368;
    opacity: 1;
    padding-top: 10px;
    font-family: Roboto, Arial, sans-serif;
    line-height: 1.25rem;
    font-size: .875rem;
    letter-spacing: .0142857143em;
    font-weight: 400;
    /* float: left; */
    text-align: left;
}

.modal_times {
    padding: 0px 0px 0px;
    display: flex;
    flex-shrink: 0;
    box-pack: end;
    justify-content: flex-end;
}

/* .notes_main{

    padding: 0px 10px;
    background-color: #e6e6e6;
    margin:auto;
    margin-top:15px;
    padding:10px;
    border-radius: 5px;
    color: #3c4043;
    font-size: 0.9rem;
    user-select: none;
    cursor: pointer;

} */

.notes_main{

    padding: 0px 10px;
    background-color: #fbfbfb;
    margin:auto;
    margin-top:10px;
    padding:10px;
    border-radius: 5px;
    color: #3c4043;
    font-size: 0.9rem;
    user-select: none;
    cursor: pointer;
    text-align: left;

}

.timer_button_holder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 25px;
    gap: 25px;
    /* margin-top: 10px; */
}

.no_margin{
    margin-left: 0px !important;
}

.survey_button{
    background:#ff5400;
    color:white;
    width:100%;
    border: none;
    border-radius: 5px;
    padding:10px;
    font-weight: 700;
    font-size: 20px;
    margin:15px 25px 0px 25px;
    width: calc(100% - 50px);
    position: relative;
}


.icon{
    position: absolute;
    top:13px;
    margin-left:10px;
    right: 10px;
    /* left: 5px; */
}
